.backgroundimg {
    background-image: url(../images/background.png);
    background-repeat: space;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 78px;
    z-index: -1;
}

.item-1 {
    width: 850px;
    margin-left: 59px;
}

.item-2 {
    background-color: #ffffff;
    position: absolute;
    top: 100px;
    left: 59px;
    padding-top: 10px;
    width: 850px;
}

.aboutme {
    color: #4aaaa5;
    margin-left: 25px;
}


.img {
    float: left;
    max-width: 25%;
    height: auto;
    margin-left: 25px;
    margin-right: 15px;
}

.maintext {
    line-height: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

a {
    text-decoration: none;
}

.name {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    width: 250px;
    height: 50px;
    text-align: center;
    float: left;
    padding-top: 25px;
    position: absolute;
    top: -15px;
}

#about {
    color: #777777;
    width: 75px;
    height: 25px;
    text-align: center;
    background-color: #ffffff;
    float: right;
    margin-top: 35px;
    border-right-color: lightgrey;
    border-right-width: 2px;
    border-right-style: solid;
}

#about:visited {
    color: #B2592A;
}

#contact {
    color: #777777;
    width: 75px;
    height: 25px;
    text-align: center;
    background-color: #ffffff;
    float: right;
    margin-top: 35px;
}

#contact:visited {
    color: #B2592A;
}

#portfolio {
    color: #777777;
    width: 85px;
    height: 25px;
    text-align: center;
    background-color: #ffffff;
    float: right;
    margin-top: 35px;
    border-right-color: lightgrey;
    border-right-width: 2px;
    border-right-style: solid;
}

#portfolio:visited {
    color: #B2592A;
}


#footer {
    background-color: #666666;
    clear: both;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 25px;
    padding-top: 15px;
    border-top: 8px solid #4aaaa5;
    z-index: 1;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
}




@media only screen and (max-width: 640px) {  
    .item-1 {
        position: static;
        width: 100%;
        margin-left: 0px;
    }
    .item-2 {
        width: 100%;
        position: absolute;
        top: 75px;
        left: 0px;
    }
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
    .item-1 {
        position: static;
        width: 90%;
        margin-left: 30px;
    }
    .item-2 {
        width: 90%;
        margin-left: 30px;
        position: absolute;
        top: 100px;
        left: 0px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 960px) {
    .item-1 {
        position: static;
        width: 85%;
        margin-left: 30px;
    }
    .item-2 {
        width: 85%;
        margin-left: 30px;
        position: absolute;
        top: 100px;
        left: 0px;
    }
}