.backgroundimg {
    background-image: url(../images/background.png);
    background-repeat: space;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 78px;
    z-index: -1;
}

.item-1 {
    width: 850px;
    margin-left: 59px;
    position: fixed;
    z-index: 1;
    background-color: #ffffff;
}

.item-2 {
    background-color: #ffffff;
    position: absolute;
    top: 100px;
    left: 59px;
    padding-top: 10px;
    width: 90%;
}

.item-4 {
    width: 87.25%;
    position: absolute;
    top: 200px;
    left: 35px;
    background-color: #ffffff;
    padding-top: 25px;
    padding-left: 25px;
    margin-left: 25px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 186px 186px 186px;
    grid-row-gap: 25px;
    grid-column-gap: 10px;
}

.sub-item-a {
    grid-column-start: 1;
    grid-row-start: 2;
}

.sub-item-b {
    grid-column-start: 2;
    grid-row-start: 1;
}

.catlbl {
    grid-column-start: auto;
    z-index: 1;
}
.aboutme {
    color: #4aaaa5;
    margin-left: 25px;
}


.img {
    float: left;
    max-width: 25%;
    height: auto;
    margin-left: 25px;
    margin-right: 15px;
}

.maintext {
    line-height: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

a {
    text-decoration: none;
}

.name {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    width: 250px;
    height: 50px;
    text-align: center;
    float: left;
    padding-top: 25px;
    position: absolute;
    top: -15px;
}

h1 {
    color: #4aaaa5;
    margin-left: 25px;
    padding-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
#about {
    color: #777777;
    width: 75px;
    height: 25px;
    text-align: center;
    background-color: #ffffff;
    float: right;
    margin-top: 35px;
    border-right-color: lightgrey;
    border-right-width: 2px;
    border-right-style: solid;
}

#about:visited {
    color: #B2592A;
}

#contact {
    color: #777777;
    width: 75px;
    height: 25px;
    text-align: center;
    background-color: #ffffff;
    float: right;
    margin-top: 35px;
}

#contact:visited {
    color: #B2592A;
}

#portfolio {
    color: #777777;
    width: 85px;
    height: 25px;
    text-align: center;
    background-color: #ffffff;
    float: right;
    margin-top: 35px;
    border-right-color: lightgrey;
    border-right-width: 2px;
    border-right-style: solid;
}

#portfolio:visited {
    color: #B2592A;
}


#footer {
    background-color: #666666;
    clear: both;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 25px;
    padding-top: 15px;
    border-top: 8px solid #4aaaa5;
    z-index: 1;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
}

.item-5 {
    width: 87.25%;
    position: absolute;
    top: 100px;
    left: 88px;
    background-color: #ffffff;
    padding-bottom: 25px;
}

.nameinput {
    height: 30px;
    width: 90%;
    margin-left: 25px;
    margin-top: -5px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

.emailinput {
    position: static;
    margin-left: 25px;
    width: 90%;
    height: 30px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

.messageinput {
    position: static;
    margin-left: 25px;
    height: 250px;
    width: 90%;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

.yourname {
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #666666;
}

.email {
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

.message {
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

.submit {
    margin-left: 25px;
    margin-top: 25px;
    color: #ffffff;
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 100px;
    height: 35px;
    border: none;
}





@media only screen and (max-width: 640px) {  
    
    .container {
        width: 100%;
    }
    .item-1 {
        position: static;
        width: 100%;
        margin-left: 0px;
    }
    .item-2 {
        width: 100%;
        position: absolute;
        top: 75px;
        left: 0px;
    }

    /*Not sure why this doesn't work for items-4&5 like item-1-2, but it
    should be max-width at 640 or less*/
    .item-4 {
        width: 100%;
        position: absolute;
        margin-left: 0%;
        margin-right: 0%;
        padding: 0%;
    }

    item-5 {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        padding: 0%;
    }
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
    .item-1 {
        position: static;
        width: 90%;
        margin-left: 30px;
    }
    .item-2 {
        width: 90%;
        margin-left: 30px;
        position: absolute;
        top: 100px;
        left: 0px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 960px) {
    .item-1 {
        position: static;
        width: 85%;
        margin-left: 30px;
    }
    .item-2 {
        width: 85%;
        margin-left: 30px;
        position: absolute;
        top: 100px;
        left: 0px;
    }
}